* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

header {
    
}

body {
    min-height: 100vh; /* Voller Viewport-Höhe */
}


#Navigation {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0.5%;
    align-items: center;
    background-color: rgb(60, 123, 179);
    color: white;
    font-family: verdana, sans-serif;
}


h1 {
    font-size: 2.3vw;
}

.Logo {
    grid-column: 1;
    width: 25%;
}

.Logo2 {
    width: 20%;
}


h2 {
    font-size: 2vw;
}


ul.nav {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 1.2vw;
}

li {
    padding: 1.5%;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    background-color: rgb(195, 232, 250);
    margin-right: 1%;
    margin-left: 1%;
    padding-top: 1%;
    padding-left: 0.5%;
    padding-bottom: 1%;
    padding-right: 0.5%;
    flex: 1;
    min-height: 100vh;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    grid-column: 2;
    text-align: right;
    margin-right: 1%;
}

.Grid-Spalten {
    display: grid; 
    grid-template-columns: 50% 50%;
    font-family: verdana, sans-serif;
    margin: 0.5%;
}

.Fakten, .Skigebietinfos {
    grid-column: 1;
    border:3px solid rgb(0, 51, 82);
    margin-right: 1%;
    border-radius: 6px 6px 6px 6px;
    padding: 1em;
    color: rgb(3, 45, 72);
    background-color: rgb(162, 207, 240);
}


.NEU {
    margin-left: 1%;
    grid-column: 2;
    border:3px solid rgb(0, 51, 82);
    border-radius: 6px 6px 6px 6px;
    padding: 1em;
    color: rgb(3, 45, 72);
    background-color: rgb(162, 207, 240);
}




.NEU a:hover {
    color: white;
}

.NEU img {
    margin-top: 1em;
    width: 100%;
    height: 50vh;
    border-radius: 6px 6px 6px 6px;
    position: relative;
}

.chart {
    width: 50%;
    height: 50vh;
}



/*Wanderungen*/

#w_allg {
    display: grid;
    grid-template-columns: 20% 80%;
}


#w_spez {
    display: grid;
    grid-template-columns: 65% 35%;
    margin-top: 1%;
}


#w_map {
    width: 100%;
    height: 50vh;
    border-width: 10px;
    grid-column: 1;
    border: 2px solid rgb(60, 123, 179);
}

.Popup_map_w .leaflet-popup-content-wrapper, 
.Popup_map_w .leaflet-popup-tip{
    background: rgb(138, 188, 231);
}

/*SLIDESHOW*/


.slideshow-container {
    position: relative;
    grid-column: 2;
    grid-row: 1/3;
    border: 2px solid rgb(60, 123, 179);
    overflow: hidden;
}

/* Verstecken von Bildern */
.mySlides {
    display: none;
}

.image-container {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Bilder */
img {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Bild skalieren und zuschneiden */
}

/* Pfeile */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 4px 4px 0;
    user-select: none;
}

/* Positionierung der "next" Pfeile */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Hover-Effekte für die Pfeile */
.prev:hover,
.next:hover {
    background-color: rgb(60, 123, 179);
}

/* Fading Animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/*Höhenprofil*/

#profile {
    margin-top: 0.3em;
    fill: black;
    width: 100%;
    grid-column: 1;
    grid-row: 2;
    border: 2px solid rgb(60, 123, 179);
}

.ibk_hiking,
.ibk_bike {
    --ele-bg: white;
    --ele-axis: #000000;
    --ele-area: #feed94;
    --ele-grid: #CCC;
    --ele-brush: rgb(255, 255, 255);
    --ele-poly: blue;
    --ele-line: rgb(0, 0, 0);
    --ele-circle: white;
}

.elevation-summary {
    background-color: white;
    text-align: center;
    padding: 5px;
    margin: 0 !important;
}

.elevation-expanded {
    --ele-close-btn: inline-block;
}

.leaflet-elevation .elevation-profile {
    stroke: #FF0000;
    /* Ändere die Farbe zu Rot, oder setze deine gewünschte Farbe */
    fill: none;
    /* Entfernt die Füllfarbe, falls vorhanden */
    stroke-width: 2;
    /* Passe die Linienbreite an, falls gewünscht */
}


#pulldown {
    background-color: #feed94;
    border-radius: 6px 6px 6px 6px;
    padding: 1em;
    border: none;
    color: rgb(3, 45, 72);
    font-size: 1vw;
    display: block;
    grid-column: 1;
    width: 90%;
    font-family: Verdana, sans-serif;
}


.informationen {
    font-family: Verdana, sans-serif;
    background-color: white;
    border-radius: 6px 6px 6px 6px;
    display: block;
    grid-column: 2;
    padding: 0.5%;
    font-size: 1.1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgb(3, 45, 72);
}

.color-circle-blue {
    border-color: rgb(60, 123, 179);
    background-color: rgb(97, 181, 255);
    width: 1vw;
    height: 1vw;
    display: inline-block;
}

.color-circle-red {
    border-color: rgb(60, 123, 179);
    background-color: rgb(255, 97, 97);
    width: 1vw;
    height: 1vw;
    display: inline-block;
}

.color-circle-black {
    border-color: rgb(60, 123, 179);
    background-color: rgb(0, 0, 0);
    width: 1vw;
    height: 1vw;
    display: inline-block;
}

.Bilder {
    grid-column: 2;
    grid-row: 1/ span 2;
    margin-left: 2%;
    background-color: rgb(60, 123, 179);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.Text {
    padding-left: 2%;
    font-family: "Segoe Ui", sans-serif;
}

.Text p {
    padding-right: 2%;
    overflow-wrap: break-word;
    text-align: justify;
    font-family: arial, sans-serif;
}





/*DANIEL*/

.Bild-Container {
    position: relative;
    /* Positionierung des Containers relativ */
    width: 100%
        /* Breite des Containers */
}

.Bild-Comtainer img {
    width: 100%;
    /* Bild passt sich der Containerbreite an */
    height: auto;
    /* Bildhöhe wird proportional angepasst */
}

.Bild-Overlay {
    position: absolute;
    /* Positionierung absolut relativ zum Container */
    top: 20px;
    /* Abstand vom oberen Rand des Containers */
    left: 20px;
    /* Abstand vom linken Rand des Containers */
    color: white;
    /* Textfarbe */
    background-color: rgba(0, 0, 0, 0.205);
    /* Halbtransparenter Hintergrund für bessere Lesbarkeit */
    padding: 10px;
    /* Innenabstand */
    border-radius: 5px;
    /* Abgerundete Ecken */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Bild-Overlay-Titel {
    position: absolute;
    top: 10vh;
    right: 1.5%;
    text-shadow: 1px 1px 2px black;
    color: rgb(255, 255, 255);
    font-family: "Barlow Semi Condensed";
    size: 50vw;
}



.Bild-Overlay-Titel > h1 {
    font-size: 4vw;
}

.Einfuerungstext {
    font-family: Verdana, sans-serif;
    font-size: 1.2vw;
    position: absolute;
    padding: 1vw;
    top: 80%;
    left: 1.5%;
    right: 1.5%;
    color: rgb(3, 45, 72);
    font-family: "Barlow Semi Condensed";
    size: 50vw;
    background-color:#feed94;
    border-radius: 8px 8px 8px 8px;
}

.Einfuerungstext_responsive {
    display: none;
}


footer {
    background-color:rgb(134, 158, 179);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.barlow-semi-condensed-bold {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }


#D_map {
    width: 100%; 
    height: 95vh;
    border: 4px solid rgb(60, 123, 179);
    border-radius: 8px 8px 8px 8px;
}

.Daniel_Karte {
    width: 100%;
    height: 100vh;
    background-color: rgb(60, 123, 179);
    margin-top: 3vh;
    border-radius: 8px 8px 0px 0px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
}



/*SPOT-HIGHLIGHTS*/

#map_spots {
    height: 85vh;
    margin: 0.5%;
    border: 3px solid rgb(60, 123, 179);
    border-radius: 6px 6px 6px 6px;
}

.popup_cafe .leaflet-popup-content-wrapper, 
.popup_cafe .leaflet-popup-tip{
    background: #F2D10E;
    color: rgb(51, 51, 51);
}

.popup_bar .leaflet-popup-content-wrapper, 
.popup_bar .leaflet-popup-tip{
    background: #8c4eb8;
    color: rgb(255, 255, 255);
}

.popup_restaurant .leaflet-popup-content-wrapper, 
.popup_restaurant .leaflet-popup-tip{
    background: #E55D19;
    color: rgb(255, 255, 255);
}

.popup_ski .leaflet-popup-content-wrapper, 
.popup_ski .leaflet-popup-tip{
    background: #24b6ff;
    color: rgb(255, 255, 255);
}

.popup_bar a,
.popup_restaurant a {
    color: rgb(231, 243, 255);
}

.popup_bar a:hover, 
.popup_restaurant a:hover {
    color: rgb(0, 51, 82);
}

.popup_cafe a,
.popup_restaurant a {
    color: rgb(231, 243, 255);
}

.Logo_Impressum {
    width: 15%;
}

.Text_responsive {
    display: none;
}

.Slider_Ski {
    grid-column: 2;
    grid-row: 1/ span 2;
    border-radius: 6px 6px 6px 6px;
    background-color: rgb(60, 123, 179);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.Ski_Bilder {
    grid-column: 2;
    border:3px solid rgb(0, 51, 82);
    border-radius: 6px 6px 6px 6px;
    color: rgb(3, 45, 72);
    background-color: rgb(162, 207, 240);
}

.slideshow-container_ski {
    position: relative;
    grid-column: 2;
    grid-row: 1/3;
    overflow: hidden;
}



/* Button zum schließen der Sidebar */
#b1 {
    float: right;
    outline: none;
    background-color: white;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 26px;
  }

#b1:hover {
    cursor: pointer; 
}

/* Button zum Scrollen auf weitere Infos */
#b2 {
    outline: none;
    background-color: rgb(71, 124, 160);
    border-color: #22354b;
    border-radius: 4px 4px 4px 4px;
    color: white;
    width: 50%;
    height: auto;
    font-size: 1vw;
  }

#b2:hover {
    cursor: pointer; 
}





/* RESPONSIVE WEBDESIGN */

@media (max-width: 400px) {

body {
    background-color: rgb(214, 232, 241);
}

#w_allg {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    margin-right: 1vw;
    margin-left: 1vw;
}

#w_spez {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-right: 1vw;
    margin-left: 1vw; }
    

.Bilder {
    order: 1;
    margin-left: 0;
    height: auto;
    padding-bottom: 2%;
    border-radius: 6px 6px 0 0;
}

.slideshow-container {
    border-radius: 6px 6px 0 0;
}


h2 {
    font-size: 6vw;
}

.Text {
    order: 2;
}



#w_map {
    order: 3;
    border:none;
}

#profile {
    order: 4;
    border: none;
    border-radius: 0 0 6px 6px;
}


#w_allg {
    display: grid;
    grid-template-columns: 70% 30%;
}

#pulldown {
    grid-column: 1/span2;
    grid-row: 1;
    font-size: 4vw;
    display: block;
    width: 100%;
    border-radius: 6px 6px 0px 0px;
    padding: 2vw;
    }



.informationen {
    grid-column: 1/span2;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    font-size: 3vw;
    border-radius:  0px 0px 6px 6px;
}

.item {
    padding: 5px;
}

#Navigation {
    grid-template-columns: 20% 80%;
}

ul { 
    font-size: 3vw;;
}

.Logo_Impressum {
    width: 40%;
    margin-top: 2%;
    
}

footer {
    font-size: 3vw;
}

.color-circle-blue {
    width: 2.5vw;
    height: 2.5vw; }

.color-circle-red {
    width: 2.5vw;
    height: 2.5vw;
}

.color-circle-black {
    width: 2.5vw;
    height: 2.5vw;
}


.menu-toggle {
    display: block;
}

ul.nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(60, 123, 179);
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    font-size: 4vw;
    z-index: 1;
    border-radius: 0px 0px 6px 6px;
}

ul.nav.nav-open {
    display: flex;
}

.Logo {
    width: 220%;
    margin: 4%;
}

.Bild-Container {
    position: relative;
    height: 50vh;
        
}

.Bild-Overlay-Titel {
    position: absolute;
    top: 8vh;
    left: 15%;
    text-shadow: 1px 1px 2px black;
    color: white;
    font-family: "Barlow Semi Condensed";
    size: 80vw;
}

.Bild-Overlay-Titel > h1 {
    font-size: 8vw;
    margin-bottom: 0.5vh;
}

.Bild-Overlay-Titel > h3 {
    font-size: 3vw;
}

.Logo2 {
    width: 30%;
}

.Bild-Overlay {
    display: none;
}

.Text_responsive{
    display: block;
    color: #395A7F;
    border: 1.5px solid #395A7F;
    border-radius: 6px 6px 6px 6px;
    padding: 2vw;
    margin-top: 1vh;
}

.Einfuerungstext {
    display: none;
}

.Einfuerungstext_responsive {
    display: block;
    color: rgb(60, 123, 179);
    font-family: Verdana, sans-serif;
    font-size: 3.4vw;
    padding: 1.3vw;
    border: 1px solid rgb(60, 123, 179);
    border-radius: 8px 8px 8px 8px;
    background-color: #feed94;
    text-align: center;
    margin-right: 1vw;
    margin-left: 1vw;
}

.Grid-Spalten {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-right: 1vw;
    margin-left: 1vw;
}

.Fakten .Ski_Bilder {
    border: 1px solid;
    

}

.NEU .Skigebietinfos {
    border: 1px solid;
}

footer {
    margin-top: auto;
}


#D_map {
    width: 100%; 
    height: 50vh;
    border: 2px solid #395A7F;
}

.Daniel_Karte {
    margin-top: 1vh;
    height: 80%;
    border-radius: 8px 8px 8px 8px;
}

.Daniel_Karte > h1 {
    font-size: 1em;
}




}